body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
:root {
	--essadji: hotpink;
	--base: #262626;
	--button-host: #303030;
	--text: #666666;
	--dark: #1a1a1a;
	--ucll-red: #e00049;
	--ucll-blue: #002757;
	--ucll-sky: #9fdaf9;
}
:host {
	overflow: hidden;
	font-family: "IBM Plex Mono", monospace;
}

.ibm-plex-mono-regular {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-style: normal;
}

.text {
	grid-area: text;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40pt;
}
.dsLogo {
	position: absolute;
	top: 2px;
	right: 0;
	height: 100px;
	width: 100px;
}

/******************************************************************************
******************************UNLOCKED (Beurs) CSS*****************************
******************************************************************************/
#main-unl {
	display: grid;
	grid-template-rows: 3fr 1fr;
	grid-template-rows: 1fr;
	background-color: #eee;
	height: 100%;
}
#face {
	grid-row: 1;
	padding-top: 2em;
}
.content {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	place-items: center;
	overflow-y: auto;
	grid-row: 1;

	height: 11em;
	width: 90vw;
	margin-top: -3.5em;
	scrollbar-width: thin;
	scrollbar-color: #e00049 #9fdaf9;

	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.75);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.F {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	height: 10em;
	width: 10em;
}
.scroll {
	position: absolute;

	left: 32%;
	color: #e00049;
}
.notice {
	font-size: 15pt;
}
#secondRow {
	position: fixed;
	left: 4.55em;
	top: 71.5vh;
}
.backBtns {
	position: absolute;
	top: 0.2em;
	left: 0.5em;
	font-size: 2.5em;

	width: 45px;
	height: 45px;

	cursor: pointer;
}

/******************************************************************************
********************************PAGESELECTOR CSS*******************************
******************************************************************************/
button {
	border: none;
	cursor: pointer;
	font-weight: 600;
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	background-color: #002757;
	color: rgb(255, 255, 255);
	background-color: #002757;
	font-family: "Open Sans", sans-serif;
}
.pageSelector {
	border-radius: 25px;
	background-color: #ecf0f3;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.selector-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);

	width: 93vw;
	margin: auto;
	margin-bottom: 3em;
}

.gridItem {
	height: 40px;
	margin: 20px 10px;
}
#mainControl {
	background-color: #e00049;
}
#loginForm {
	height: 40px;
	width: auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr;
	grid-column: 5;
}

#btnLogin {
	grid-column: 1;
	grid-row: 1/3;
	min-width: 3.5em;
	height: 40px;
	border-radius: 8px 0 0 8px;
}
#user {
	grid-column: 2;
	grid-row: 1;
	border-radius: 0 8px 0 0;
	border: #bbb solid 0.2px;
}
#program {
	grid-column: 2;
	grid-row: 2;
	border-radius: 0 0 8px 0;
	border: #bbb solid 0.2px;
}

#ipForm {
	height: 40px;
	display: grid;
	grid-column: 6;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	margin-right: 1em;
}

#setIpBtn {
	min-width: 3.5em;
	border-radius: 8px 0 0 8px;
}
#ipAddress {
	border-radius: 0 8px 8px 0;
	border: #bbb solid 0.5px;
}

select {
	color: #fff;
	font-weight: 600;
	border: none;
	border-radius: 8px;
	background-color: #002757;
}
@media only screen and (max-width: 877px) {
	.selector-container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		margin-left: 2em;
		margin-bottom: 3em;
		width: 100%;
	}
	#eyes-container {
		margin-bottom: 10em;
	}
	.gridItem {
		margin: 10px;
		max-width: 150px;
	}

	/* grid col 1 */
	#loginForm {
		grid-column: 1;
		grid-row: 1;
	}
	#ipForm {
		grid-column: 1;
		grid-row: 2;
	}

	/* grid col 2 */
	#dropDown {
		grid-column: 2;
		grid-row: 2;
		margin-left: 2.5em;
	}
	#mainControl {
		grid-column: 2;
		grid-row: 1;
		margin-left: 2.5em;
	}

	/* grid col 3 */
	#btnFace {
		grid-column: 3;
		grid-row: 1;
	}
	#btnInterface {
		grid-column: 3;
		grid-row: 2;
	}
}
@media only screen and (max-width: 740px) {
	.selector-container {
		grid-template-columns: repeat(3, 1fr);
		border-radius: 0;
		margin: auto;
		margin-left: 0.7em;
		margin-bottom: 3em;
	}
	.gridItem {
		margin: 10px;
		max-width: 140px;
	}
	/* grid col 1 */
	#loginForm {
		grid-column: 1;
		grid-row: 1;
	}
	#ipForm {
		grid-column: 1;
		grid-row: 2;
	}

	/* grid col 2 */
	#dropDown {
		grid-column: 2;
		grid-row: 2;
		margin-left: 3em;
	}
	#mainControl {
		grid-column: 2;
		grid-row: 1;
		margin-left: 3em;
	}

	/* grid col 3 */
	#btnFace {
		grid-column: 3;
		grid-row: 1;
	}
	#btnInterface {
		grid-column: 3;
		grid-row: 2;
	}
}
/******************************************************************************
********************************CONTROL (ADV) CSS********************************
******************************************************************************/
.quote {
	position: relative;
	grid-column: 1;
	grid-row: 1/4;
	width: 100%;
	height: 340px;
	margin-top: 1em;
}
.velocity {
	position: relative;
	grid-column: 1;
	grid-row: 4/5;
	width: 100%;
	height: 110px;
	margin-top: 1em;
}

.move {
	position: relative;
	grid-column: 2;
	grid-row: 1/4;
	width: 100%;
	height: 340px;
	margin-top: 1em;
}
.speech {
	position: relative;
	grid-column: 2;
	grid-row: 4/5;
	width: 100%;
	height: 110px;
	margin-top: 1em;
}

.sound {
	position: relative;
	grid-column: 3;
	grid-row: 1/4;
	width: 100%;
	height: 340px;
	margin-top: 1em;
}

#pref {
	width: 80%;
	height: 40px;
	border-radius: 8px;
	background: #e00049;

	cursor: pointer;
	font-weight: 600;
	font-size: larger;
	transition: 0.5s;
}

.pref-nav {
	grid-column: 3;
	grid-row: 4/5;

	width: 80%;
	height: 110px;
	margin-top: 1em;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 25px;
	place-items: center;
	background: #ecf0f3;
	box-sizing: border-box;
	box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
@media only screen and (max-width: 1185px) {
	div {
		font-size: 0.7em;
	}
}
@media only screen and (min-width: 1200px) {
	.move {
		margin-top: 1em;
	}
	.velocity {
		margin-top: 1.3em;
	}
	.tss {
		margin-top: 1em;
	}
	.prev-nav {
		margin-top: 2em;
	}
}
@media only screen and (min-width: 1500px) {
	.move {
		margin-top: 2.8em;
	}
	.quote {
		height: 90%;
		margin-top: 4em;
	}
	.sound {
		margin-top: 3.8em;
		height: 420px;
	}
	.velocity {
		margin-top: 1.1em;
	}
	.tss {
		margin-top: 2em;
	}
	.prev-nav {
		margin-top: 3em;
	}
}
@media only screen and (min-width: 1747px) {
	.move {
		margin-top: 8em;
		margin-bottom: 5em;
	}
}

/******************************************************************************
*****************************CONTROL (UI/PREF) CSS*****************************
******************************************************************************/
.grid-container {
	display: grid;
	justify-content: space-around;
	grid-auto-columns: minmax(0, 1fr);
	grid-template-rows: 0.8fr 1fr 3fr;
	margin: 1em;
}
page-selector-ɮ {
	grid-column: 1/5;
	grid-row: 1;
}
/*  
camera-ɮ {
	gird-column: 2/4;
	grid-row: 2/4;
}
 */
lever-ɮ#eye_L {
	grid-column: 1;
	grid-row: 3;
}
lever-ɮ#eye_R {
	grid-column: 3;
	grid-row: 3;
}
.emo-joystick {
	display: flex;
	justify-content: space-around;
}
face-ʤ {
	grid-column: 2/4;
	grid-row: 2/5;
	height: 120%;
	margin-top: 2.5em;
}
@media only screen and (max-width: 1228px) {
	lever-ɮ {
		padding-left: 100px;
	}
}

/******************************************************************************
*********************************STARTPAGE CSS*********************************
******************************************************************************/
#main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4fr 1fr;

	background-color: #eee;
	width: 100vw;
	height: 100vh;
}
#face-wel {
	padding-top: 3em;
}
#greetingsContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	place-items: center;

	width: 90vw;
	height: 11em;
	margin: auto;
	margin-top: -8em;
	color: #002757;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.75);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*Welcome page typewriter effecct*/
.greeting #greeting {
	overflow: hidden;
	font-size: 2.5em;
	border-right: 0.07em solid #002757;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.04em;
	animation: typing 3.5s steps(40, end), blink-caret 0.9s step-end infinite;
}
/*Typewriter effect*/
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
/*Cursor effect*/
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #002757;
	}
}

#redirectBtns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	margin-top: -2em;
	margin-bottom: 1em;
}

#projects {
	grid-column: 1;
	height: 2em;
	width: 12em;

	font-size: 1.4em;
	text-align: left;
	background-color: #e00049;
}

#guides {
	grid-column: 2;
	height: 2em;
	width: 12em;

	font-size: 1.4em;
	text-align: left;
	background-color: #e00049;
}
#projects .arrows {
	color: #002757;
	padding-right: 0.5em;
}

#guides .arrows {
	color: #002757;
	padding-right: 0.2em;
}
#welcomeLogo {
	top: 2px;
	left: 0;
}
/******************************************************************************
*********************************TOGGLE CSS************************************
******************************************************************************/
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
