body {
	margin: 0px;
	overflow: hidden;
}

/* PSEUDO-selector for fullscreen background definition
*::backdrop{ 
  background:white;
}
*/

:root {
	--essadji: hotpink;
	--base: #262626;
	--button-host: #303030;
	--text: #666666;
	--dark: #1a1a1a;
	--ucll-red: #e00049;
	--ucll-blue: #002757;
	--ucll-sky: #9fdaf9;
}
:host {
	overflow: hidden;
}
.text {
	grid-area: text;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40pt;
	font-family: "Lobster";
}

/*Unlocked CSS*/
#main {
	display: grid;
	grid-template-rows: 3fr 1fr; /*Ogen 3/4 evnetTiles 1/4*/
}
#face {
	padding-top: 2em;
}
.content {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	place-items: center;
	gap: 30px;
	margin: auto;
	overflow-y: auto;
	height: 10.5em;
	width: 90vw;
}
.F {
	height: 10em;
	width: 10em;
}
.notice {
	font-size: 15pt;
	margin-top: -0.1em;
	font-family: "Open Sans", sans-serif;
}
.scroll {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	margin: auto;
	place-items: center;
	opacity: 40%;
}
.down {
	margin-top: -3em;
}
