body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* PSEUDO-selector for fullscreen background definition
*::backdrop{ 
  background:white;
}
*/

:root {
	--essadji: hotpink;
	--base: #262626;
	--button-host: #303030;
	--text: #666666;
	--dark: #1a1a1a;
	--ucll-red: #e00049;
	--ucll-blue: #002757;
	--ucll-sky: #9fdaf9;
}
:host {
	overflow: hidden;
}
.text {
	grid-area: text;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40pt;
	font-family: "Lobster";
}

/******************************************************************************
******************************UNLOCKED (Beurs) CSS*****************************
******************************************************************************/
#main-unl {
	display: grid;
	grid-template-rows: 3fr 1fr;
	grid-template-rows: 1fr;
	background-color: #eee;
	height: 100%;
}
#face {
	grid-row: 1;
	padding-top: 2em;
}
.content {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	place-items: center;
	overflow-y: auto;
	grid-row: 1;

	height: 11em;
	width: 90vw;
	margin-top: -3.5em;
	scrollbar-width: none;
	scrollbar-color: #e00049 #9fdaf9;

	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.75);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.F {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	height: 10em;
	width: 10em;
}
.scroll {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	margin: auto;
	place-items: center;
	color: #e00049;
	margin-top: -1.5em;
}
.notice {
	font-size: 15pt;
	font-family: "Open Sans", sans-serif;
}
.arrow {
	color: #e00049;
	font-size: 4em;
	animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes wiggle {
	0% {
		transform: translateY(0);
	}
	10% {
		transform: translateY(1px);
	}
	20% {
		transform: translateY(2px);
	}
	30% {
		transform: translateY(3px);
	}
	40% {
		transform: translateY(4px);
	}
	50% {
		transform: translateY(5px);
	}
	60% {
		transform: translateY(6px);
	}
	70% {
		transform: translateY(5px);
	}
	80% {
		transform: translateY(4px);
	}
	90% {
		transform: translateY(3px);
	}
	95% {
		transform: translateY(2px);
	}
	100% {
		transform: translateY(1px);
	}
}

#secondRow {
	position: fixed;
	left: 4.55em;
	top: 71.5vh;
}
.backBtns {
	position: absolute;
	top: 0;
	left: 0.2em;
	font-size: 2.5em;
	cursor: pointer;
	color: #e00049;
}
/******************************************************************************
********************************PAGESELECTOR CSS*******************************
******************************************************************************/
button {
	background-color: #002757;
	border: none;
	color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 8px;
	font-weight: 600;
}
.pageSelector {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 1em;

	margin-bottom: 1em;
}
.gridItem {
	margin: 0.5em;
	height: 45px;
}
#maincontrol {
	grid-column: 1;
	background-color: #e00049;
}
#loginForm {
	display: grid;
	gap: 0.2em;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr;
	grid-column: 5;
	height: 45px;
}
#btnLogin {
	grid-column: 1;
	grid-row: 1/3;
	width: 3.5em;
	margin-right: 5px;
}
#user {
	grid-column: 2;
	grid-row: 1;
	height: 1em;
}
#program {
	grid-column: 2;
	grid-row: 2;
	height: 1em;
}

#loginForm > input {
	border-radius: 8px;
	border: #bbb solid 0.5px;
	font-size: 15px;
}
#ipForm {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column: 6;
	margin-top: 0.38em;
	height: 75%;
}
#ipForm > button {
	width: 3.5em;
	margin-right: 5px;
	border-radius: 8px;
}
#ipForm > input {
	border-radius: 8px;
}

select {
	color: #fff;
	font-weight: 600;
	border: none;
	border-radius: 8px;
	background-color: #002757;
}

/******************************************************************************
********************************CONTROL ADV CSS********************************
******************************************************************************/
.quote {
	position: relative;
	grid-column: 1;
	grid-row: 1/5;
	width: 100%;
	height: 65%;
	margin-top: -45%;
}
.velocity {
	position: relative;
	grid-column: 1;
	grid-row: 4;
	width: 100%;
	height: 120%;
	margin-top: -1.8em;
}

.move {
	position: relative;
	grid-column: 2;
	grid-row: 1/4;
	width: 100%;
	height: 100%;
	margin-top: -4em;
}
.speech {
	position: relative;
	grid-column: 2;
	grid-row: 4/5;
	width: 100%;
	height: 120%;
	margin-top: -2em;
}
.tempo {
	position: relative;
	grid-column: 1;
	grid-row: 2;
	width: 100%;
	height: 100%;
}

.echo {
	position: relative;
	grid-column: 2;
	grid-row: 4;
	width: 100%;
	height: 100%;
}
.sound {
	position: relative;
	grid-column: 3;
	grid-row: 1/4;
	width: 100%;
	height: 110%;
	margin-top: 2.4em;
}

#pref {
	margin-top: 10px;
	background: #e00049;
	height: 2.5em;
	width: 80%;
	border-radius: 20px;
	cursor: pointer;
	font-weight: 600;
	font-size: larger;
	transition: 0.5s;
	margin-bottom: -2.5em;
}
#pref a {
	color: #fff;
	width: 100%;
	height: 100%;
	text-decoration: none;
	box-shadow: none;
}

/******************************************************************************
*****************************CONTROL (UI/PREF) CSS*****************************
******************************************************************************/
.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 0.8fr 1fr 3fr;
	margin: 1em;
}
page-selector-ɮ {
	grid-column: 1/5;
	grid-row: 1;
}
/*  
camera-ɮ {
	gird-column: 2/4;
	grid-row: 2/4;
}
 */
lever-ɮ#eye_L {
	grid-column: 1;
	grid-row: 3;
}
lever-ɮ#eye_R {
	grid-column: 3;
	grid-row: 3;
}
/*
lever-ɮ#pupil_L {
	grid-column: 1/2;
	grid-row: 4/5;
}
lever-ɮ#pupil_R {
	grid-column: 4/5;
	grid-row: 4/5;
}
*/

/* james-ʤ {
	position: absolute;
	top: 5em;
	left: 0;
	max-width: 95vw;
	max-height: 90vh;
	min-width: 95vw;
	min-height: 90vw;
} */
face-ʤ {
	grid-column: 2/4;
	grid-row: 2/5;
	height: 120%;
}

/******************************************************************************
*********************************STARTPAGE CSS*********************************
******************************************************************************/
#main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4fr 1fr;

	background-color: #eee;
	width: 100vw;
	height: 100vh;
}
#face-wel {
	padding-top: 3em;
}
#greetingsContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	place-items: center;

	width: 90vw;
	height: 11em;
	margin: auto;
	margin-top: -8em;
	color: #002757;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.75);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#greeting {
	font-size: 3.5em;
}
#redirectBtns {
	display: grid;

	grid-template-columns: 1fr 1fr;
	gap: 1em;
	margin-top: -2em;
	margin-bottom: 1em;
}

#projects {
	grid-column: 1;
	height: 2em;
	width: 12em;

	font-size: 1.4em;
	text-align: left;
	background-color: #e00049;
}

#guides {
	grid-column: 2;
	height: 2em;
	width: 12em;

	font-size: 1.4em;
	text-align: left;
	background-color: #e00049;
}
#projects .arrows {
	color: #002757;
	padding-right: 0.5em;
}

#guides .arrows {
	color: #002757;
	padding-right: 0.2em;
}

/******************************************************************************
*********************************TOGGLE CSS************************************
******************************************************************************/
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
