<!DOCTYPE html>
<html>
	<style>
		html,
		body {
			margin: 0;
			height: 100%;
			overflow: hidden;
			font-family: Arial;
			box-sizing: border-box;
			background-color: #ecf0f3;
		}
		<style > html,
		body {
			margin: 0;
			height: 100%;
			overflow: hidden;
			font-family: Arial;
			box-sizing: border-box;
			background-color: #ecf0f3;
		}

		.title {
			padding: 1rem;
		}
	</style>

	<head>
		<title>Control Center - UCLL James</title>
		<script type="module" src="../Components/controller.js"></script>
	</head>
	<body>
		<controller-Ƅ></controller-Ƅ>
	</body>
</html>
