<!DOCTYPE html>
<html>
  <style>
    html,
    body {
      margin: 0;
      height: 100%;
      overflow: hidden;
      font-family: Arial;
      box-sizing: border-box;
      background-color: #ecf0f3;
    }

    .title {
      text-align: center;
      padding: 1rem;
    }

    h1 {
      color: #1da1f2;
      letter-spacing: 1px;
      font-family: Britannic Bold;
    }
  </style>

  <head>
    <title>James Control Centre</title>
    <script type="module" src="../Components/controller.js"></script>
  </head>

  <body>
    <controller-Ƅ></controller-Ƅ>
  </body>
</html>
