button {
	border: none;
	cursor: pointer;
	font-weight: 600;
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	background-color: #002757;
	color: rgb(255, 255, 255);
	background-color: #002757;
	font-family: "Open Sans", sans-serif;
}
.pageSelector {
	border-radius: 25px;
	background-color: #ecf0f3;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.selector-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);

	width: 93vw;
	margin: auto;
	margin-bottom: 3em;
}

.gridItem {
	height: 40px;
	margin: 20px 10px;
}
#mainControl {
	background-color: #e00049;
}
#loginForm {
	height: 40px;
	width: auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr;
	grid-column: 5;
}

#btnLogin {
	grid-column: 1;
	grid-row: 1/3;
	min-width: 3.5em;
	height: 40px;
	border-radius: 8px 0 0 8px;
}
#user {
	grid-column: 2;
	grid-row: 1;
	border-radius: 0 8px 0 0;
	border: #bbb solid 0.2px;
}
#program {
	grid-column: 2;
	grid-row: 2;
	border-radius: 0 0 8px 0;
	border: #bbb solid 0.2px;
}

#ipForm {
	height: 40px;
	display: grid;
	grid-column: 6;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	margin-right: 1em;
}

#setIpBtn {
	min-width: 3.5em;
	border-radius: 8px 0 0 8px;
}
#ipAddress {
	border-radius: 0 8px 8px 0;
	border: #bbb solid 0.5px;
}

select {
	color: #fff;
	font-weight: 600;
	border: none;
	border-radius: 8px;
	background-color: #002757;
}
@media only screen and (max-width: 877px) {
	.selector-container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		margin-left: 2em;
		margin-bottom: 3em;
		width: 100%;
	}
	#eyes-container {
		margin-bottom: 10em;
	}
	.gridItem {
		margin: 10px;
		max-width: 150px;
	}

	/* grid col 1 */
	#loginForm {
		grid-column: 1;
		grid-row: 1;
	}
	#ipForm {
		grid-column: 1;
		grid-row: 2;
	}

	/* grid col 2 */
	#dropDown {
		grid-column: 2;
		grid-row: 2;
		margin-left: 2.5em;
	}
	#mainControl {
		grid-column: 2;
		grid-row: 1;
		margin-left: 2.5em;
	}

	/* grid col 3 */
	#btnFace {
		grid-column: 3;
		grid-row: 1;
	}
	#btnInterface {
		grid-column: 3;
		grid-row: 2;
	}
}
@media only screen and (max-width: 740px) {
	.selector-container {
		grid-template-columns: repeat(3, 1fr);
		border-radius: 0;
		margin: auto;
		margin-left: 0.7em;
		margin-bottom: 3em;
	}
	.gridItem {
		margin: 10px;
		max-width: 140px;
	}
	/* grid col 1 */
	#loginForm {
		grid-column: 1;
		grid-row: 1;
	}
	#ipForm {
		grid-column: 1;
		grid-row: 2;
	}

	/* grid col 2 */
	#dropDown {
		grid-column: 2;
		grid-row: 2;
		margin-left: 3em;
	}
	#mainControl {
		grid-column: 2;
		grid-row: 1;
		margin-left: 3em;
	}

	/* grid col 3 */
	#btnFace {
		grid-column: 3;
		grid-row: 1;
	}
	#btnInterface {
		grid-column: 3;
		grid-row: 2;
	}
}
